.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-repeat: round;
  background-color: #1f1854;
  list-style-type: none;
}

.logo {
  height: 1em;
  float:left;
}

.formSearch{
  width: 75%;
  margin: 0 auto;
  text-align: center;
  margin-bottom: -10%;
  margin-bottom: auto;
}

.inputSearch{
  width: 60%;
  height: 3em;
  background-color: #1f1854;
  border: 2px solid #fff;
  color: #fff;
  padding-left: 2%;
  
}

.inputSearch::-webkit-input-placeholder  { 
  color:#fff;
  opacity: 50%;
}

.buttomSearch {
  height: 3rem;
  min-width: 10%;
  border: 2px solid #fff;
  border-left: none;
  font-size: 1rem;
  color: #fff;
  background-color: #1f1854;
}

.buttomSearch:hover {
    background-color: #f26124;
    color: #fff;
    font-weight: bolder;
}

.buttomPurchase{
    border: 2px solid #fff;
    font-family: Marvel, sans-serif;
    color: #fff;
    text-decoration: none;
    margin: 1%;
    padding: 1%;
}
.buttomPurchase:hover{
  background-color: #1f1854;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  font-family: Marvel, sans-serif;
  margin: 0;
  padding-bottom: 2%;
  line-height: 1.15;
  font-size: 4rem;
  color: #fff;
}

.titleCard {
  margin: 0 auto;
  text-align: center;
  line-height: 1.15;
  font-size: 5rem;
  font-family: 'Marvel', sans-serif;
  color: #fff;
}

.titleWelcome{
  margin: 0 auto;
  padding: 2%;
  text-align: center;
  line-height: 1.15;
  font-size: 2em;
  font-family: 'Marvel', sans-serif;
  color: #f26124;
}
.title,
.description {
  text-align: center;
}

.titleLiteModal {
  margin: 0 auto;
  padding-top: 5%;
  text-align: center;
  line-height: 1.15;
  font-size: 4rem;
  font-family: 'Marvel', sans-serif;
  color: #fff;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
  list-style-type: none;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 90%;
}

.card {
  margin: 2%;
  padding: 2%;
  text-align: center;
  text-decoration: none;
  border-radius: 8px;
  transition: color 0.15s ease, border-color 0.15s ease;
  width: 100%;
  height: 100%;
  max-width: 30%;
  max-height: 30%;
  min-width: 90%;
  min-height: 90%;
  background-color: #f26124;
  list-style-type: none;
}

.card:focus,
.card:active {
  color: #1f1854;
  border-color: #fff;
  border: 3px solid;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 100%;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

img.figure {
  min-width: 10%;
  max-height: 10%;
  margin: 0 auto;
  text-align: center;
  height: 40%; 
  width: 40%; 
  border: 2px #fff solid;
  
  padding: 0.5em;
}

.ul {
  list-style-type: none;
  list-style: none;
}

.modal {
  position: fixed;
  top: 20%;
  right: 20%;
  bottom: 20%;
  left: 20%;
 font-family: Marvel, sans-serif;
  background: rgba(0,0,0,0.9);
  z-index: 99999;
  opacity:0;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  pointer-events: none;
}

.modal:target {
  opacity: 1;
  pointer-events: auto;
}

.close {
  position: absolute;
  width: 30px;
  right: -15px;
  top: -20px;
  text-align: center;
  line-height: 30px;
  margin-top: 5px;
  background: #1f1854
;
  border-radius: 50%;
  font-size: 16px;
  color: #fff;
  text-decoration: none;
}

#mdiv {
  width: 25px;
  height: 25px;
  background-color: red;
  border: 1px solid black;
}

.mdiv {
height:25px;
  width: 2px;
  margin-left: 12px;
  background-color: black;
  transform: rotate(45deg);
  Z-index:1;
}

.md {
  height: 25px;
  width: 2px;
  background-color: black;
  transform: rotate(90deg);
  Z-index:2;
}

img.scaled {
  width: 100%;
}

/*MAPS*/
.map {
  height: 100vh;
}

.map-marker {
  margin-top: 30px;
}

.address {
  box-sizing: border-box;
  border: 1px solid transparent;
  width: 240px;
  height: 32px;
  padding: 0 12px;
  border-radius: 4px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  font-size: 14px;
  outline: none;
  text-overflow: ellipses;
  position: absolute;
  left: 50%;
  margin-left: -120px;
  margin-top: 12px;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/**/
.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #fff;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
  font-weight: bolder;
  font-family: 'Marvel', sans-serif;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }

  @import url(tiny.css) (min-width:300px);
 @import url(small.css) (min-width:600px);
 @import url(big.css) (min-width:900px);
}
